:root { --fondo: #f4f7f9; --blanco: #fff; --azul: #007bff; --verde: #28a745; }
* { box-sizing: border-box; font-family: sans-serif; margin: 0; padding: 0; }
body { background: var(--fondo); }
header { background: var(--blanco); padding: 15px; text-align: center; box-shadow: 0 2px 5px rgba(0,0,0,0.1); margin-bottom: 20px; }
#main-logo { max-height: 60px; }
main { padding: 10px; max-width: 500px; margin: 0 auto; }

.menu-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; }
.card, .card-mini { 
    background: var(--blanco); padding: 15px; border-radius: 20px; text-align: center; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.05); aspect-ratio: 1/1; 
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.card-icon-container { width: 100%; height: 70px; display: flex; align-items: center; justify-content: center; }
.ventana-icon, .ventana-icon-mini { max-width: 90%; max-height: 90%; object-fit: contain; }

.btn-atras { color: var(--azul); background: none; border: none; font-weight: bold; padding: 10px 0; cursor: pointer; }
.contenido-herramienta { background: var(--blanco); padding: 20px; border-radius: 20px; box-shadow: 0 4px 15px rgba(0,0,0,0.08); }

.contenedor-esquemas { background: #fff; margin-bottom: 10px; text-align: center; }
.img-circuito { max-width: 100%; max-height: 100px; object-fit: contain; }

.fila-valor { display: flex; gap: 8px; margin-bottom: 8px; }
.fila-valor input { flex: 2; padding: 10px; border-radius: 10px; border: 1px solid #ccc; }
.btn-agregar { background: #6c757d; color: white; border: none; padding: 10px; border-radius: 10px; width: 100%; margin: 10px 0; }
.btn-calcular { background: var(--verde); color: white; border: none; padding: 15px; border-radius: 10px; width: 100%; font-weight: bold; }
.caja-resultado { text-align: center; font-size: 1.3rem; font-weight: bold; margin-top: 15px; }

.input-group { margin-bottom: 10px; }
.input-group label { display: block; font-size: 0.8rem; font-weight: bold; color: var(--azul); }
.input-group input { width: 100%; padding: 10px; border-radius: 10px; border: 1px solid #ccc; }
